VITE_API_BASE_URL=http://127.0.0.1:3001/api
VITE_API_URL=http://127.0.0.1:3001/api
VITE_APP_NAME=OptiX Maintenance Pro
VITE_APP_COMPANY=TamOptiX Technologies
VITE_APP_TAGLINE=Powered by TamOptiX Technologies
VITE_APP_SHORT_NAME=OptiX Maint - Pro
